body {
    height: 90vh;
    background-color: black;
    background-image: url(Images/background.png);
    background-size: 60% 105%;
    background-position: right 50px;
    background-repeat: no-repeat;
}

/* Container */
.container {
    /* max-width: 1200px;
    margin: 0 auto; */
    padding: 20px;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* Logo */
.logo {
    display: block;
    margin: 10 auto;
    width: 140px; 
    /* height: auto; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}
nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 5px;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover {
    color: #d73333;
}
